*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Outfit', sans-serif; */
}

:root {
    --primary: #28e98c;
}

body {
    font-family: 'Inter', sans-serif;
}

img {
    max-width: 100%;
}

button {
    cursor: pointer;
    outline: none;
    border: none;
}

section {
    padding-top: 60px;
    padding-bottom: 100px;
}

#nav {
    padding-top: 0;
}

a {
    text-decoration: none;
}

/* section{
    height:100%;
   
} */
.container {
    margin: 0 auto;
    height: 100%;
    background-color: black;


}

/* video {
    object-fit: contain;
    overflow-clip-margin: content-box;
    overflow: clip;
    height: 100vh;
    width: 100%; 
    position:fixed;
    z-index: -20;
    
} */
.row {
    height: 100%;
    display: flex;
    /* background-color: black; */



}

.aside {
    background-color: transparent;

    width: 25%;
    border-radius: 30px;
    border: 1px solid #565656;
    position: fixed;
    left: 20px;
    top: 40px;


    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aside__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 30px 40px 30px 30px;
    /* gap:50px; */
}

.aside__head img {

    width: 100px;
    margin-left: auto;
    margin-right: auto;
    /* height:70px; */
    /* border-radius: 30px; */


}

.aside__head span {
    color: white;
    width: 150px;

    font-family: 'Inter', sans-serif;
    font-size: 16px;
    text-align: right;
    font-weight: 100;
}

.me {

    display: block;
    margin-bottom: 15px;
    /* margin-top: 30px; */
    /* width: calc(100% - 100px); */
    max-width: 250px;
    border-radius: 30px;

    /* padding:0 50px; */



}

.aside h1 {
    color: white;
    font-weight: 300;
    font-size: 25px;

}

.aside__logos {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 40px;
}

.aside__logo {
    height: 50px;
    width: 50px;
    border: 1px solid grey;
    border-radius: 50%;
    display: grid;
    place-items: center;
    ;
}

.aside__logo i {
    color: grey;
    height: 15px;
    width: 15px;
}

.aside__logo:hover {
    border: 1px solid var(--primary);

}

.aside__logo:hover i {
    color: var(--primary);

}

.ham:hover {
    border: 1px solid var(--primary);

}

.ham:hover i {
    color: var(--primary);

}


.aside__btn {
    width: 75%;
    height: 50px;
    margin-block: 30px;
    background-color: var(--primary);
    border-radius: 30px;
    font-size: 17px;
    transition: 0.5s;
    display: flex;
    gap: 7px;
    align-items: center;
    justify-content: center;
    /* padding-inline: 120px;
    margin-inline:auto; */
}

.aside__btn a {
    color: black;
}

.aside__btn:hover a {
    color: var(--primary);
}

.aside__btn:hover {
    color: var(--primary);
    border: 1px solid var(--primary);
    background-color: transparent;
}

.aside__btn:hover .fa-envelope-circle-check {
    color: var(--primary);
}

/* ------------------main---------------- */
.all {
    padding-top: 0px;
}

.main {


    /* max-width: 770px; */
    width: 100%;
    /* margin-left: 540px; */
    margin-top: 40px;
    /* max-width: calc(100% - 600px); */
    width: 100%;
    margin-left: calc(100% - 1050px);
    margin-top: 40px;
    padding: 40px;
    padding-right: 155px;
    height: 100%;
    position: relative;

}

#home {
    padding-top: 0;
}

.uni__btn {
    padding: 9px 20px;
    background-color: transparent;
    border-radius: 30px;
    color: rgb(230, 229, 229);
    border: 1px solid grey;
    text-align: center;

}

.main h1 {
    width: 100%;
    font-size: 78px;
    letter-spacing: -0.2px;
    line-height: 90px;
    margin-bottom: 43px;
    font-weight: 300;
    color: white;
    margin-top: 50px;
}

.main h1 span {
    color: var(--primary);
}

.ham {
    position: absolute;
    color: white;
    font-size: 25px;
    background-color: transparent;
    border: 1px solid grey;
    border-radius: 50%;
    padding: 10px 15px;
    top: 25px;
    right: 50px;

}

.main__p1 {
    margin-top: 40px;
    font-size: 16px;
    width: 55%;
    color: #999999;

    line-height: 1.7;
}

.plus {
    display: flex;
    margin-top: 260px;
    gap: 100px;
    margin-bottom: 160px;
}

.plus h2 {
    color: var(--primary);
    font-size: 72px;

    line-height: 56px;
    font-weight: 300;
    width: 123px;

}

.plus p {
    margin-top: 38px;
    width: 188px;
    color: grey;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
}

.heading {
    color: white;
    font-size: 48px;
    line-height: 60px;
    color: #fff;
    font-weight: 300;
    margin-bottom: 33px;
    margin-top: 50px;
    width: 85%;
}

.heading span {
    color: var(--primary);
}

.about__p {
    color: grey;
    line-height: 30px;
    max-width: 610px;
    width: 100%;
    opacity: 1;
    transform: translate(0px, 0px);
}

.heading {

    color: white;
}

.result__card {
    display: flex;
    gap: 75px;
}

.result__line {
    height: 190px;
    width: 1px;
    border: 1px solid #1f1f1f;
    position: relative;

}

.result__line2 {
    height: auto !important;
}

.result__circle {
    position: absolute;
    top: -5px;
    left: -7.5px;
    border-radius: 50%;
    background-color: grey;
    height: 15px;
    width: 15px;

}

.result__data h5 {
    color: grey;
    padding-bottom: 10px;
    font-size: 16px;
    margin-top: -6px;
    font-weight: 400;
}

.result__data h4 {
    font-size: 24px;
    color: white;
    margin-top: 18px;
    font-weight: 300;
}

.result__data p {
    font-size: 13px;
    color: grey;
    margin-top: 18px;
    margin-top: 8px;
}

.result__card:hover .result__circle {
    background-color: var(--primary);
}

.result__card:hover .result__data h5 {
    color: var(--primary);
}



.service__card {
    border: 1px solid grey;
    border-radius: 20px;
    padding: 50px 50px 45px 50px;
    position: relative;
    margin-top: 10px;
    width: 100%;
}

.service__card h3 {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 8px;
    color: #fff;
}

.service__card p {
    font-size: 13px;
    color: #999999;
    margin-bottom: 30px;
}

.service__card button {
    font-size: 15px;
    color: #fff;
    background-color: transparent;
    border: none;
}

.service__card button:hover {
    text-decoration: underline;
    ;
}

.service__card:hover {
    border: 1px solid var(--primary);
}

.service__card i {
    position: absolute;
    top: 50px;
    right: 50px;
    font-size: 25px;
}

.skill__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
    gap: 25px;
}

.skill__card {

    margin-bottom: 50px;
}

.skill__in {

    display: grid;
    place-items: center;
    padding: 50px;
    border: 1px solid grey;
    background-color: transparent;
    border-radius: 100px;
}

.skill__card h3 {
    font-size: 30px;
    color: var(--primary);
    font-weight: 300;
    margin-top: 30px;
}

.skills p {
    font-size: 16px;
    margin-top: 20px;
    color: white;
    width: 100%;
    text-align: center;
}

.skills img {
    height: 60px;
    width: 60px;
}

.skill__card:hover .skill__in {
    border: 1px solid var(--primary);
}

/* ------------------NAV---------------------- */
nav {
    position: fixed;
    top: 200px;
    right: 50px;

}

.nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 20px;
    padding: 25px 17px 25px 17px;
    background-color: black;
    border: 1px solid grey;
    list-style: none;
    border-radius: 30px;


}

nav i {
    color: grey;
}

[tooltip] {
    position: relative;
}

[tooltip]::after {
    content: attr(tooltip);
    width: max-content;
    background: grey;
    position: absolute;
    padding: 8px 12px;
    border-radius: 4px;
    color: white;
    font-size: 10px;
    display: none;
    letter-spacing: 2px;
}

[tooltip][flow="left"]::after {
    right: 25px;
    top: -6px;


}

[tooltip]:hover::after {
    display: block;
}

nav li:hover i {
    color: var(--primary);
}

/* ------------nav 2------------- */
.nav-side {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;

    background-color: #191919;
    color: grey;
    padding: 0 100px;
    display: none;
    z-index: 12;
}

.nav-side h5 {
    margin-top: 50px;
    font-size: 18px;
    font-weight: 300;

}

.nav-side ul {
    width: 160px;
    font-weight: 300;
    list-style: none;
    margin-top: 40px;
}

.nav-side li {
    margin-top: 22px;

}

.nav-side li i {
    color: grey;
    margin-right: 10px;
}

.nav-side li p {
    display: inline-block;
    font-size: 12px;
    color: grey;
}

.nav__side__social {
    margin-top: 55px;
    margin-bottom: 16px;


}

.nav__side__social ul {
    margin-top: 0;
}

.nav__side__social li {
    display: inline-block;
    margin-right: 5px;
}

.nav-side li:hover i {
    color: var(--primary);
}

.nav-side li:hover p {
    color: white;
    cursor: pointer;
}

.nav__cross {
    width: 30px;
    height: auto;
    position: absolute;
    top: 45px;
    right: 100px;
}

/* -------------portfolio-------- */

.portfolio {}

.portfolio__card {
    width: 100%;


    border-radius: 30px;
    /* display:inline-block; */

}

.portfolio__card img {
    width: 100%;

    border-radius: 30px;
    object-fit: cover;

}

.portfolio__card h3 {
    color: white;
    margin-top: 20px;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
}

.portfolio__card h3:hover {
    text-decoration: underline;
}

.portfolio__col-6 {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 150px;
    margin-bottom: 150px;
    gap: 40px;
}

.col-6 {
    width: 50%;



}

.col-12 {
    width: 100%;
}

.portfolio__card2,
.portfolio__card3 {
    /* height:100%; */



}

.contact h4 {
    color: white;
    font-weight: 300;
    font-size: 20px;
}

form {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;

}

.form__group {
    margin-top: 35px;
}

.form__group span {
    color: red;
    font-size: 12px;
    margin-left: 5px;
}

.form__group label {
    color: white;
    font-size: 12px;




}

.optional {
    color: grey !important;
}

.form__group input {
    width: 100%;
    height: 35px;
    background-color: transparent;
    border: none;
    margin-top: 4px;
    color: white;
    outline: none;

}

.form__group input::placeholder {
    font-size: 20px;
    margin-top: 10px;

}

.form__btn {
    width: 250px;
    margin-top: 30px;
}

#nav , .all{
    padding:0px;
}





@media screen and (max-width: 1440px) {
    .main {
        margin-left: calc(100% - 900px);


    }

    .main h1 {
        font-size: 60px;
    }

}


/* ----------------------------------------- */

@media screen and (max-width: 1220px) {
    body {
        background-color: black;
    }

    .main h1 {
        font-size: 60px;
        line-height: 1.3;
    }

    .aside {
        position: relative;
        max-width: 767px;
        margin: 0 auto;
        left: 0;
        margin-bottom: 50px;


    }

    .main {
        width: 65%;
        margin-left: 0;
        padding: 25px !important;
        max-width: 767px;

    }

    .row {
        flex-direction: column !important;
        align-items: center;
        justify-content: center;
    }

    .ham {
        position: fixed !important;
        top: 60px;
        background-color: black;
        z-index: 10;
        right: 20px;
        top: 20px;
    }

    .nav__cross {
        right: 20px;
        top: 20px;
        width: 50px;
    }

    .main {
        width: 100%;
    }

    .aside {
        width: 100%;
    }

    nav {
        display: none;
    }

    body {
        margin: 0 15px;
    }

    /* ------------------------------------------- */
    @media screen and (max-width: 787px) {
        .main h1 {
            font-size: 40px;
            margin-bottom: 0px;

        }

        .main__p1 {
            margin-top: 15px;
        }


        .main {
            padding: 0;

        }

        section {
            padding-top: 90px;
        }

        .service__card h3 {
            font-size: 20px;

        }

        .service__card {
            padding: 30px;
        }

        .service__card i {

            top: 30px;
            right: 20px;
            font-size: 20px;

        }

        .portfolio__col-6 {
            flex-direction: column;
            width: 100%;
            gap: 100px;
            margin-top: 100px;
            margin-bottom: 100px;
        }

        .portfolio__card {
            width: 100%;
        }

        .portfolio__card h3 {
            font-size: 20px;
        }



    }

    @media screen and (max-width: 584px) {
        .heading {
            font-style: 25px !important;
            line-height: 1.3 !important;
            width: 100%;
        }

        .main p {
            width: 100%;
        }

        .heading {
            font-size: 38px;
            line-height: 1.4;
        }

        .result__card {
            display: flex;
            gap: 50px;
        }

        .col-6 {
            width: 100%;
        }

        .form__btn {
            margin: 20px auto;
        }



    }

    @media screen and (max-width: 400px) {
        .nav-side {
            width: 100vw;
        }
    }
    
    @media print{
        .aside {
            display: none;
        }
    }